@model HR.Entities.ApiModels.VacancyAppliersModels.Request.CreateVacancyApplierRequest

@{
    ViewData["Title"] = "اضافة";
}

@using (Html.BeginForm("Create", "Candicate"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">

                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color: black;font-size: 1.9rem;">
                                اضافة مرشح جديد
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body" style="background-color: #e7e7e7">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="label" style="font-size:14px;margin-right:25px"> اسم المرشح   </label>
                        <div class="col-md-10 dataText">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @style = "width:450px; margin-right:23px" })
                            @Html.ValidationMessage("FullNameValidation", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label" style="font-size:14px;margin-right:25px"> البريد الالكترونى   </label>
                        <div class="col-md-10 dataText">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @style = "width:450px;" })
                            @Html.ValidationMessage("EmailValidation", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label" style="font-size:14px;margin-right:25px"> رقم الهاتف </label>
                        <div class="col-md-10 dataText">
                            @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control", @style = "width:450px; margin-right:27px" })
                            @Html.ValidationMessage("MobileNumberValidation", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="label" style="font-size:14px;margin-right:25px"> السيرة الذاتية  </label>
                        <div class="col-md-10 dataText">
                            @Html.TextBoxFor(model => model.UploadedResume, new { @class = "form-control", @style = "width:450px; margin-right:16px" })
                            @Html.ValidationMessage("CityValidation", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group" style="display:flex">
                        <label class="label" style="font-size: 14px; margin-right: 25px"> فئة الوظيفة   </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.VacancyId, new SelectList(ViewBag.Vacancies, "Id", "NameEn"), "--اختر الوظيفة--", new { @class = "form-control", @style = "width:450px;margin-right:23px" })
                            @Html.ValidationMessage("VacancyIdValidation", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="display:flex">
                        <div>
                            &nbsp;&nbsp; <input type="submit" value=" اضافة المرشح" class="btn btn-brand" style="width: 160px; padding-right: 10px; margin-right: 125px" } />
                        </div>
                    </div>
                </div>

                @*<div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("الـعـودة الى الـقـائـمـة", "Index", "Candicate", null, new { @style = "color:black;font-size:18px;text-decoration:underline;" })
                </div>*@
            </div>
        </div>
    </div>
}
